pymilvus
minio

openai
dataset
transformers
torch
cohere
pandas
numpy
langchain
torchvision
matplotlib
llama_index
llama_cpp_python
sentence_transformers

tqdm
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability